# .NET Core
####################
*.dll
*.exe
*.pdb
*.user
*.build.cs
*.vs/
*.obj/
*.bin/
*.tmp/
*.cache/
*.log/
*/bin/
*/obj/
*.log
*_i.c
*_p.c
*.ilk
*.meta
*.msi
*.pch
*.res
*.vspscc
*.vssscc
*_i.h
*.suo
*.userprefs
*.user
*.sln.docstates

# Visual Studio
####################
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln.docstates
*.sln.ide-shutdown
*.suo
*.user
*.vspscc
*.vssscc
*.vssettings
*.sln.DotSettings.user

# Build results
####################
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
